.name {
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-left: 200px;
}

.aboutme {
    border: 1px solid gainsboro;
    padding: 20px;
    margin: 50px 200px 100px 200px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    padding-bottom: 20px;
    margin: 20px;
    border-bottom: 3px solid gainsboro;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

#pic {
    float: left;
    margin: 15px;
}